<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet" type="text/css" href="/css/styles.css">

  <title>REST API Reference</title>
</head>
<body>
  <div>
    <header>
      <h1><a class="logo" href="/"><span>eShopAPI Docs</span></a></h1>
    </header>
        <div class="container">
          <aside>
            <h4>API ENDPOINT REFERENCE </h4>
           <nav>
          <ul>
            <li>
              <a href="/api/docs/cataloglist"> Catalog List</a>
              <ul>
                <li>
                  <a href="/api/docs/cataloglist/getallcatalogs">- Get all Catalogs</a>
                </li>
              </ul>
            </li>
        </nav>
          </aside>
        <main>
         