<% include partials/header %>

<article>
 	<h1> Catalogs </h1>
 	<p> Endpoints for retrieving information about one or more catalog items </p>

 	<p> Base URL: <code> http://0.0.0.0:5106/api </code></p>

 	<table>
 	<thead>
 		<tr> 
 			<th>METHOD</th>
 			<th>ENDPOINT</th>
 			<th>USAGE</th>
 			<th>RETURN</th>
 		</tr>
 	</thead>
 	<tbody>
 		<tr>
 			<td>GET</td>
 			<td>
 				<a href="/api/docs/cataloglist/getallcatalogs"> 
 					/api/catalog/list
 					</a>
 			</td>
 			<td> Get an array of catalogs </td>
 			<td> Catalog list </td>
 		</tr>
 	</tbody>
 	</thead>
 	</table>
 </article>



<% include partials/footer %>