<% include partials/header %>

<article>
 	<h1> Get all Catalog items </h1>
 	<p> Get the information of all catalog items </p>

 	<h3>Endpoint</h3>
 	<code>http://0.0.0.0:5106/api/catalog/list </code>


 	<h3> Response Format</h3>
 	<p> On success, the HTTP status code in the response header is 200 OK and the response body contains the catalog object in JSON format. On error, the header status code is an error code and the response body contains an error object.</p>


 	<h3> Example </h3>
 	<div class="example">

 	<pre><code>curl --request GET \
  --url http://0.0.0.0:5106/api/catalog/list
	</code></pre>

	</div>
	<div class="example">

	<pre><code>
{
    "catalogItems": [
        {
            "id": 1,
            "name": ".NET Bot Black Sweatshirt",
            "pictureUri": "/images/products/1.png",
            "price": 19.5
        },
        {
            "id": 2,
            "name": ".NET Black & White Mug",
            "pictureUri": "/images/products/2.png",
            "price": 8.5
        }
      ],
       "brands": [
        {
            "disabled": false,
            "group": null,
            "selected": true,
            "text": "All",
            "value": null
        },
        {
            "disabled": false,
            "group": null,
            "selected": false,
            "text": "Azure",
            "value": "1"
        }
      ],
       "types": [
        {
            "disabled": false,
            "group": null,
            "selected": true,
            "text": "All",
            "value": null
        },
        {
            "disabled": false,
            "group": null,
            "selected": false,
            "text": "Mug",
            "value": "1"
        }
      ],
    "brandFilterApplied": 0,
    "typesFilterApplied": 0,
    "paginationInfo": {
        "totalItems": 12,
        "itemsPerPage": 10,
        "actualPage": 0,
        "totalPages": 2,
        "previous": "is-disabled",
        "next": ""
    }
}
</code></pre>
</div>


 	<h3> Catalog object </h3>
 	<table>
 	<thead>
 		<tr> 
 			<th>KEY</th>
 			<th>VALUE TYPE</th>
 			<th>VALUE DESCRIPTION</th>
 		</tr>
 	</thead>
 	<tbody>
 		<tr>
 			<td>catalogItems</td>
 			<td>
 				array of catalog objects
 			</td>
 			<td> Get an array of all catalog items </td>
 		</tr>
 		<tr>
 			<td>brands</td>
 			<td>
 				array of brands objects
 			</td>
 			<td> Get an array of all brands </td>
 		</tr>
 		<tr>
 			<td>types</td>
 			<td>
 				array of types objects
 			</td>
 			<td> Get an array of all types </td>
 		</tr>
 		<tr>
 			<td>brandFilterApplied</td>
 			<td>
 				Integer
 			</td>
 			<td> To get the number of brand filters applied </td>
 		</tr>
 		<tr>
 			<td>typesFilterApplied</td>
 			<td>
 				Integer
 			</td>
 			<td> To get the number of type filters applied </td>
 		</tr>
 		<tr>
 			<td>paginationInfo</td>
 			<td>
 				pagination object
 			</td>
 			<td> To get the information of pagination </td>
 		</tr>
 	</tbody>
 	</thead>
 	</table>
 </article>

<% include partials/footer %>