.container{
    display: flex;
}
body{
    margin: 0;
}
aside {
     width:15%;
     background-color: #efefef;
     padding: 50px 10px;
}
main {
    width: 85%;
    padding: 40px 30px;
}

code {
    background-color: #efefef;
}
h1{
    margin: 0;
}
li{
    list-style-type: none;
    margin-top: 10px;
}
li a{
    padding-bottom: 25px;
}

a {
    text-decoration: none;
    color: black;
}
aside h4{
    padding-left: 20px;
    margin: 0;
}
header{
    background-color: #000;
}

header h1{
    color: #fff;
    padding: 20px 30px;
}

header a {
    color: #fff;
}

article h1 {
    font-size: 40px;
    font-weight: 900;
}

table {
    margin: 30px 0;
}
td,th{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.example code {
    background-color: black;
    color: white;
}

.example{
    background-color: #000;
    margin-bottom: 30px;
    width: 70%;
}
thead {
    color: #c1c3c6;
    font-size: 16px;
    }

@media only screen and (max-width: 1200px) {
    aside {
        width: 25%;
    }
    main {
        width: 75%;
    }
}